{% extends "delivery/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="card text-center">
        <div class="card ">
                <div class="card-header">
                  <ul class="nav nav-tabs card-header-tabs pull-right"  id="myTab" role="tablist">
                    <li class="nav-item">
                     <a class="nav-link active" id="starter-tab" data-toggle="tab" href="#starter" role="tab" aria-controls="starter" aria-selected="true">Starters</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="main-tab" data-toggle="tab" href="#main" role="tab" aria-controls="main" aria-selected="false">Main Course</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="dessert-tab" data-toggle="tab" href="#dessert" role="tab" aria-controls="dessert" aria-selected="false">Dessert</a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active show" id="starter" role="tabpanel" aria-labelledby="starter-tab">
                        {% for product in starters %}
                        <div id = "{{ product.id }}">
                        <h3>{{ product.name }}</h3>
                        {% if product.id in currentproducts %}
                        <button class = "add" style="display: none">Add</button>
                        <button class = "remove" style="display: inline">Remove</button>
                        {% else %}
                        <button class = "add" style="display: inline">Add</button>
                        <button class = "remove" style="display: none">Remove</button>
                        {% endif %}
                        </div>
                        <br>
                        {% endfor %}
                </div>
                <div class="tab-pane fade" id="main" role="tabpanel" aria-labelledby="main-tab">
                        {% for product in main %}
                        <div id = "{{ product.id }}">
                        <h3>{{ product.name }}</h3>
                        {% if product.id in currentproducts %}
                        <button class = "add" style="display: none">Add</button>
                        <button class = "remove" style="display: inline">Remove</button>
                        {% else %}
                        <button class = "add" style="display: inline">Add</button>
                        <button class = "remove" style="display: none">Remove</button>
                        {% endif %}
                        </div>
                        <br>
                        {% endfor %}
                </div>
                <div class="tab-pane fade" id="dessert" role="tabpanel" aria-labelledby="dessert-tab">
                        {% for product in dessert %}
                        <div id = "{{ product.id }}">
                        <h3>{{ product.name }}</h3>
                        {% if product.id in currentproducts %}
                        <button class = "add" style="display: none">Add</button>
                        <button class = "remove" style="display: inline">Remove</button>
                        {% else %}
                        <button class = "add" style="display: inline">Add</button>
                        <button class = "remove" style="display: none">Remove</button>
                        {% endif %}
                        </div>
                        <br>
                        {% endfor %}
                </div>
                </div>
                </div>
              </div>
</div>
{% endblock content %}


{% block script %}
<!-- <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.js" type="text/javascript"></script>
<script>var j = jQuery.noConflict(true);</script>-->
<script>
$(document).ready(function(){

$(".add").click(function(){

    $(this).hide();
    $(this).siblings("button").show();
    console.log($(this).parent("div").attr("id"));
    var product = $(this).parent("div").attr("id");
    $.ajax({
    "url": "/api/add_to_cart/",
    "type": "POST",
    "data":{
        "product" : product,
        csrfmiddlewaretoken : "{{ csrf_token }}"
        },
    "success": function(data){
            console.log("Adding worked")
    },
    "error": function(data){
            console.log("Adding did not work");
            console.log(data)
    }

    })
})


    $(".remove").click(function(){

    $(this).hide();
    $(this).siblings("button").show();
    console.log($(this).parent("div").attr("id"));
    var product = $(this).parent("div").attr("id");
    $.ajax({
    "url": "/api/remove_from_cart/",
    "type": "POST",
    "data":{
        "product" : product,
        csrfmiddlewaretoken : "{{ csrf_token }}"
        },
    "success": function(data){
            console.log("Remmoving worked")
    },
    "error": function(data){
            console.log("Removing did not work");
            console.log(data)
    }

    })
})

})

</script>

{% endblock script %}


