{% extends "delivery/base.html" %}
{% load staticfiles %}
{% block content %}

    <input type="hidden" id="user_id" value="{{ user.id }}">
    <h1>Final Checkout</h1>
    <hr>
    {% for item in myorder.items.all %}
    <div id = "{{ item.product.id }}">
        <h3>{{ item.product.name }}</h3>
        <h4><input type="text" id='{{ item.product.id }}' value='{{ item.quantity }}'></h4>
        <button type="button" class=" button btn btn-outline-success" id ="inc" style="display: inline;">+</button>
        <button type="button" class="button btn btn-outline-danger" id="dec" style="display: inline;">-</button>
    </div>
    <hr>
    {% endfor %}
{% endblock content %}


{% block script %}

<script>
    $(document).ready(function(){
                console.log("In here")
                $(".button").on("click", function() {
                        console.log("In here")

                        var $button = $(this);
                        var oldValue = $button.parent().find("input").val();
                        var id = $('#user_id').val()
                        var item = $button.parent().find("input").attr("id")

                        if ($button.text() == "+") {
                                var newVal = parseFloat(oldValue) + 1;
                        } else {
                        // Don't allow decrementing below zero
                        if (oldValue > 0) {
                        var newVal = parseFloat(oldValue) - 1;
                        } else {
                        newVal = 0;
                        }
                        }
                        var itemdict = JSON.stringify({ "item":item, "quantity":newVal, "id":id})
                        console.log(item)
                        $.ajax({
                        "url" : "/api/update/",
                        "type": "POST",
                        "data":{
                                "item" : itemdict,
                                csrfmiddlewaretoken : "{{ csrf_token }}"
                                },
                        "success" : function(data){
                                if(newVal == 0){
                                        $button.parent("div").hide()
                                }
                                else{
                                        $button.parent().find("input").val(newVal);
                                }

                        },
                        "error" : function(data){
                                console.log("Did not work")
                                console.log(data)
                                }
                        })

                });
    })

</script>
{% endblock script %}